.footer {
  background-color: #000;
  width: 100vw;
}

.primary {
  color: var(--primary);
}

.social_media__icons {
  display: flex;
  width: 100%;
  justify-content: center;
}

.icon__link {
  color: #454545;
  transition: 0.4s all ease;
}

.icon__link:hover {
  color: var(--primary);
}

.icon {
  font-size: 30px !important;
  margin: 20px 30px !important;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 10px;
}

.footer__links a {
  color: #454545;
  padding: 15px;
  text-decoration: none;
  transition: 0.4s all ease;
}

.footer__links::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  left: 50%;
  bottom: 0;
  border-radius: 50%;
  background-color: var(--primary);
  transform: translate(-50%, -50%);
  color: var(--primary);
}

.footer__links a:hover {
  color: var(--primary);
}

.footer__items {
  padding: 10px 49px;
  position: relative;
}

/* .footer__items__holder {
  position: relative;
}

.footer__items__holder::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 50%;
  bottom: 0;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: #2ec5c5;
} */

.list {
  list-style: none;
  font-weight: bold;
}

.copyright {
  color: #fff;
  font-family: sans-serif !important;
  display: flex;
  justify-content: center;
  padding: 5px;
}

@media only screen and (max-width: 768px) {
  .footer__links {
    font-size: 13px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  .footer__links a {
    padding: 5px;
    text-align: center;
  }

  .footer__links::after {
    width: 70%;
    height: 2px;
  }

  .icon {
    font-size: 20px !important;
  }
}
