* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #ffa500;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('./assets/images/final.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media only screen and (min-width: 200px) and (max-width: 790px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('./assets/images/final\ mobile.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

#root {
  display: flex;
  justify-content: center;
  height: 100%;
}

/**Overriding Material UI styles**/
.MuiCircularProgress-colorPrimary {
  color: white !important;
}

.MuiSkeleton-root {
  background-color: rgb(45, 45, 45) !important;
}
/********************************/

/**Overriding Slick Carousel styles**/
.slick-list {
  overflow: visible !important;
  z-index: 1 !important;
  position: relative;
}

.slick-slide,
.slick-slide * {
  outline: none !important;
}

.slick-slider,
.slick-initialized {
  z-index: 1 !important;
}

.slick-arrow {
  z-index: 999;
  top: 35%;
}

.slick-next::before {
  background-color: #ffa500;
  font-family: FontAwesome;
  content: '\f061';
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: lighter;
  padding: 5px;
}

.slick-prev::before {
  background-color: #ffa500;
  font-family: FontAwesome;
  content: '\f060';
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  font-weight: lighter;
  padding: 5px;
  height: 100%;
}
/***********************************/

.rotate {
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
